<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Simon Twogood</title>
</head>
<body>
<div class="flex h-screen">
    <div class="m-auto">
        <h1>404 Page Not Found</h1>
    </div>
</div>
</body>