---

import { Icon } from "astro-icon/components";
import ButtonLink from "@/components/ButtonLink.astro";
import { ModeToggle } from "@/components/react/ModeToggle.tsx";
---
<header>
    <nav class="">
        <div class="flex flex-wrap justify-evenly md:justify-between justify-items-stretch items-center gap-2">
            <a href="/" class="flex items-center left space-x-3 rtl:space-x-reverse">
                <Icon class="size-8" name="ph:wave-triangle-duotone" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Simon Twogood</span>
            </a>
            <div class="flex items-center gap-1">
                <div>
                    <ButtonLink variant="outline" href="https://www.linkedin.com/in/simon-twogood" aria-label="LinkedIn Profile"><Icon class="size-6" name="ph:linkedin-logo" /></ButtonLink>
                    <ButtonLink variant="outline" href="https://github.com/s2progger" aria-label="GitHub Profile"><Icon class="size-6" name="ph:github-logo" /></ButtonLink>
                </div>
                <ButtonLink variant="outline" href="https://antricalabs.com/resume" aria-label="Resume">Resume</ButtonLink>
                <ModeToggle client:load />
            </div>
        </div>
    </nav>
</header>
